<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs Fundamentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1> {{ header.toLocaleUpperCase() }} </h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add an Item" @keyup.enter="saveItem" maxlength="50">
            <p> {{ characterCount }}/50 </p>
            <button class="btn btn-primary"  :disabled="newItem.length === 0" v-on:click="saveItem">Save Item</button>
        </div>
        <ul>
            <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)"> {{ item.label }} </li>
        </ul>
        <p v-if="items === 0"> A list of items is empty </p>
        <!-- <input type="text" v-model="header"> -->
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoppingList = new Vue({
            el: "#shopping-list",
            data: {
                state: 'default',
                header: "shopping list app",
                newItem: '',
                items: [
                    { label: '10 partys hats', purchased: false, highPriority: false }, 
                    { label: '10 partys hats', purchased: false, highPriority: false },
                    { label: '2 board games', purchased: true, highPriority: false },
                ]
            },
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                },
                characterCount() {
                    return this.newItem.length;
                }
            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    });
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item) {
                    item.purchased = !item.purchased
                }
            }
        });
    </script>

</body>
</html>